*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    background-color: rgb(102, 184, 252);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}
.frm-main{
    width: 50%;
    margin: 50px auto;
    min-height: 75vh;
    background: rgba(24, 134, 243, 0.1);
}
#foot{
    background-color: rgb(102, 184, 252);
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 600px){
.frm-main{ 
    width: 100%;
    margin: auto;
    min-height: 85vh;
   }
   #foot{
       background-color: rgb(102, 184, 252);
       color: white;
       font-size: 11px;
   }
}